<%=render 'layouts/header'%>

<div class="fluid-row checkout_index_container">
	<% @unsent_checkouts.each do |checkout| %>
		<div class="span12 clearfix">
			<div class="span4 offset3">
				<h5><%= link_to "Checkout_id: #{checkout.id}", controller: 'administration/checkouts', action: "show", id: checkout %> </h5>
			</div>
			<div class="span2 btn">
				<h3>Posted: <%=checkout.sent %></h3>
			</div>
		</div>
	<%end%>
</div>




