<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have successfully purchased Blogosphere Magazine, your confirmation number is <%=@checkout_transaction_id%> <br/>
    </p>

    <p>
      <% if @checkout_type == true %>
        <h3> Follow this link to access magazine www.google.com</h3>
      <%end%>
    </p>

    <%#= link_to 'View Magazine', home_show_url %>
    <p>Thanks for your purchase and we hope to see you again soon!</p>
  </body>
</html>
