<%=render 'layouts/header'%>
<div class="span1 sign_in_column_one">
</div>
<%binding.pry%>
<h2>Thanks, your payment was successful</h2> 

<% if @checkout_type == true %>
	<h3>Follow this link www.google.com to access the e_magazine</h3>
<%end%>
