<%=render 'layouts/header'%>

<div class="span 10 offset1 confirmation_page">
	<h2>Thanks, your payment was successful, you will be sent an email with your confirmation code</h2> 

	<% if @checkout_type == true %>
		<h2>Follow this link www.google.com to access the e_magazine</h2>
	<%end%>
</div>
