<%=render 'layouts/header'%>

<div class="fluid-row clearfix magazine_index_container">
  <% @purchased_e_magazine.each do |magazine| %>
  <div class="span10 offset1 clearfix">
    <div class="span5">
      <h3><%=magazine.name%>, Issue number: <%=magazine.issue_number%></h3>
    </div>
    <div class="span4">
      <button><a href="#">CLICK HERE TO ACCESS MAGAZINE</a></button>
      <!-- This will be a link to the show action, here I will call the magazine model get_url method and it will build the url for amazon -->
    </div>
  </div>
  <%end%>
</div>

<%=render 'layouts/footer'%>