<%=render 'layouts/header'%>
<div class="fluid-row editors clearfix">
	<div class="span12 offset1">
		<p>
			Editor-In-Chief,
			Audley,
		    editorial@blogospheremagazine.com
		</p>
		<p>
			Food Editor,
			Chris Pople (Cheese and Biscuits),
			food@blogospheremagazine.com
		</p>
		<p>
			Fashion Editor,
			Anna Hart (South Molton St Style),
			fashion@blogospheremagazine.com
		</p>
		<p>
			Lifestyle Editor,
			Anonymous (Poppy Loves),
			lifestyle@blogospheremagazine.com
		</p>
		<p>
			Beauty Editor,
			Lina Rahman (Make Up to Make Out),
			beauty@blogospheremagazine.com
		</p>
		<p>
			Photography Editor,
			Kitty Gallannaugh (Searching for Tomorrow),
			photography@blogospheremagazine.com
		</p>
		<p>
			Travel Editor,
			Lauren Juliff (Never Ending Footsteps),
			travel@blogospheremagazine.com
		</p>
		<p>
			Recipe Editor,
			Rachel Smith (The Food I Eat),
			recipe@blogospheremagazine.com
		</p>
		<p>
			For vs Against Editor,
			Dana Fox (The Wonder Forest),
			forvagainst@blogospheremagazine.com
		</p>
		<p>
			Agony Aunt,
			Ellie (Xomisse),
			agonyaunt@blogospheremagazine.com
        </p>
	</div>
</div>

<%=render 'layouts/footer' %>

