<%=render 'layouts/header'%>
<div class="fluid-row about_us clearfix">
	<div class="span12 offset1">
		<p>The blogosphere can be an overwhelming place, and navigating it a minefield. Which is why we're here to help.<br><br>

		Written by bloggers about bloggers, whether you're interested in food or fashion, beauty or photography, or simply want to start blogging, Blogosphere Magazine is the publication for you. <br><br>

		We do the searching, the hunting, the trawling, to bring you the best bits of our blogging community. We explore, advise and inspire. So sit back, relax and welcome to the fold, welcome to the blogosphere.</p>
	</div>
</div>

<%=render 'layouts/footer'%>
