.checkout_show_container{
	margin-top:3%;
}

.checkout_show_container h5{
	margin:0!important;
}

.update_postage_status{
	margin-top:100px!important;
	width:11%!important;
	margin:0!important;
}

.update_postage_status input{
	background:white!important;
	border:none!important;
	width:105%!important;
}