// Place all the styles related to the download controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#checkout{
	height:700px;
	margin-top:10px;
}

#mag_name, #mag_width{
	float:left;
}


.magazine_data{
	margin: 15px 10px;
}

.magazine_data img{
	margin-bottom:10px;
}

.add_to_basket{
	margin-top:10px;
}

.magazine_checkout{
  display: inline-block;
  width:110px;
}

.trash_icon{
	width:20px;
  display: inline-block;
  position: relative;
  top: -3px;
  right: -10px;
}

.basket{
	width:100px;
	float:left;
}

ul .dropdown-menu{
	width:100px!important;
}

#checkout_button{
	width: 180px;
    float: left;
    background-color:lightgrey;
}

.subtotal{
    width: 150px;
    border-top: 1px solid lightgrey;
    padding-top:10px;
}

.download_print{
	width: 200px;
    margin-left: -120px;

}
