// Place all the styles related to the download controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#checkout{
	height:700px;
	margin-top:10px;
}

#mag_name, #mag_width{
	float:left;
}


.magazine_data{
	margin: 15px 10px;
}

.magazine_data img{
	margin-bottom:10px;
}

.add_to_basket{
	margin-top:10px;
}

.trash_icon{
	width:20px;
}

.basket{
	width:100px;
	float:left;
}

ul .dropdown-menu{
	width:100px!important;
}

.trash_icon{
    margin-left: 10%;
}

#checkout_button{
	width: 180px;
    float: left;
    background-color:lightgrey;
}