// Place all the styles related to the editors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.editors{
	background:url('dots.png');
}

.editors p {
	font-family: infinity;
	font-size:1.5em;
}

.editors .span12{
	margin-top: 4%;
	margin-left: 11%;
}