#mainheader{
	background:#EFEBD6;
}

.top_header{
	margin:0;
}

.facebook, .twitter{
	text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
    height:34px;
    width:34px;
    background-image: url('nav_social_sprite.png');
    display:block;
    margin:1%;
}

#top-nav ul{
	width:89%;
}

#top-nav ul a {
	float:right;
	margin:0;
	padding:5px 10px;
}

.facebook{
	background-position:456px -1px;
	padding:2px 4px!important;
}

.twitter{
	background-position:245px -1px;
	padding:2px 4px!important;
}

#logo h1{
	font-family: 'infinityregular';
	font-size:7em;
	text-align:center;
	margin:0;
	margin-top:-1%;
}

#logo h6{
	font-size:2em;
	width: 100%;
	display:block;
	margin: 3% auto;
	text-align:center;
}

#middlenav ul{
	padding: 0;
	text-decoration: none;
	list-style: none;
	width: 40%;
	margin: 1% auto 2% auto;
}

#middlenav li, .footer li {
	width:23%;
	display:inline-block;

}

// #middlenav li:last-child, #middlenav li:first-child{
// 	width:12%;
// }

#middlenav a, .footer  li a{
	display: block;
	max-width: 100%;
	font-size: 2em;
	text-align: center;
	border-right: 1px solid black;
}


#middlenav li a, .footer li a, #footerwrapper ul li {
	border-bottom:none;
	opacity:.5;
}

#middlenav li a:hover, .footer li a:hover, #footerwrapper ul li:hover{
	border-bottom:none;
	opacity:1;
}

#middlenav li:first-child, .footer li:first-child{
	border-left: 1px solid grey;
}

.dropdown-menu a{
	margin-left:10px;
}

#footerwrapper{
	margin-left:10%;
	height:100px;
}

.footer{
	background:#EFEBD6;
}

.footer ul{
	padding: 0;
	text-decoration: none;
	list-style: none;
	width: 85%;
	margin: 3% auto 2% auto;
}

.footer ul li{
	list-style:none;
	font-family:'infinityregular';
}

.footer ul li:first-child, .footer ul li:nth-child(2){
	width:27%;
}

.footer ul li:last-child{
	width:18%;
}


