// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// body{
// 	border-top:34px solid lightgrey;
// }

li {
	display:inline;
}

.brand{
    color:black!important;
    font-size:85%!important;
    float:right!important;
}

#logo h1{
	font-size:45px;
	text-align:center;
}

#strapline h3{
	font-style:italic;
	padding-top:18px;
	text-align:center;
}

#buy a{
	text-decoration:none!important;
}

#middlenav{
	text-align:center;
}

#middlenav li{
	padding:20px;
}