// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// body{
// 	border-top:34px solid lightgrey;
// }

.navbar .brand {
    // color:black!important;
    font-size:85%;
    // float:right!important;
}

#logo h1{
	font-size:45px;
}

#strapline h3{
	font-style:italic;
	padding-top:18px;
}

#middlenav li, .footer li{
	padding-right:15px;
	padding-left:15px;
	border-right: 1px solid grey;
	display:inline;
}

#middlenav li a, .footer li a, #footerwrapper ul li {
	border-bottom:none;
	opacity:.5;
}

#middlenav li a:hover, .footer li a:hover, #footerwrapper ul li:hover{
	border-bottom:none;
	opacity:1;
}

#middlenav li:first-child, .footer li:first-child{
	border-left: 1px solid grey;
}

.dropdown-menu a{
	margin-left:10px;
}

#header-divider{
	border-top:2px solid lightgrey;
	margin-bottom:15px;
}

.float_images{
	float:left;
	padding:15px 5px;
}

#footer-divider{
	margin-top:15px;
	border-top:2px solid lightgrey;
}

.footer ul{
	text-align:center;
}

.top_nav{
	float:right;
	margin-right:6%;
}

.recipe_image{
	height:189px;
}

.make_up_image{
	height:189px;
}

.travel_image{
	height:189px;
}



