<!DOCTYPE html>
<html>
<head>
  <title>Blogosphere</title>
  <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://decoded.co/css/din-family.css" type="text/css"/>
  <link rel="stylesheet" href="/app/assets/stylesheets/din_typography.css" type="text/css"/>
  <link rel="stylesheet" href="/app/assets/stylesheets/typography.css" type="text/css"/>
  <!-- improves the html5 support in older versions of Internet Explorer -->
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= yield %>
</body>
</html>